.container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
.hero{
  background-attachment:fixed;
  background-position: center;
  background-image: url("arrangement-black-friday-shopping-carts-with-copy-space.jpg");
  background-size: cover;
  padding: 10px 0px 150px 0px;
  width: 100%;
  height: 350px;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}
.store-name{
  font-size: 80px;
}

.slogan{
  display: flex;
  justify-content: center;
  font-size: 24px;
}

/*products*/


.product-image{
  width: 330px;
  height: 250px;

}
.product-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  justify-items: center;
}
.pdt{
  margin-left: 4%;
  margin-top: 15px;
  font-size: 30px;
}

.product-title {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
 
}


/*Categories*/
.Categories-List{
  display: flex;
  flex-direction: column ;
  flex: 1;
  justify-items: center;
  margin: 20px 10px 20px 10px;

}

.category-button{
  background-color: transparent;
  border: none;
  color: #0d172a;
  cursor: pointer;
  font-family: "Basier circle", -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 16px;
  font-weight: 600;
  line-height: 2;
  border-radius: 5px;
  /* padding: 1.6rem 2.6rem; */
  text-align: center;
  text-decoration: none;
  user-select: none;
}
.category-button:hover{
 background-color: burlywood;
 color: #0d172a;
}